#ptImages select{width:27.5em;}
#ptImages .ptImage_uploadBox {
}
#ptImages .imageUploadSection {
}
#ptImages img {
	max-width:125px;
}
#ptImages .section {
    border-bottom: 3px solid #dfdfdf;
    margin-top: 1em;
    padding: 2%;
    width: 95%;
}
#ptImages .expandSection {
	display:block !important;
}
#ptImages .imageUploadSection img {
	-webkit-box-shadow: 1px 1px 4px 2px #CCCCCC;
	-moz-box-shadow:1px 1px 4px 2px #CCCCCC;	
	box-shadow:1px 1px 4px 2px #CCCCCC;	
	max-width:250px;
	height:auto;
	border: 4px solid white;
}
#ptImages .labelSection {
	width:100px;
}
#ptImages .imagetable {
}